/* 1281px */
@media (max-width: 80.063em) {
  :root {
    --font-size-body  : 1.8rem;
    --font-size-social: 2.2rem;
  }

  .navbar__container-link {
    padding: 0.5rem 1.5rem;
  }

  .jobs {
    flex: 1 0 50%;
  }
}

/* 1025px */
@media (max-width: 64.063em) {}

/* 961px */
@media (max-width: 60.063em) {
  .errorpage__title {
    font-size: 9rem;
  }

  .errorpage__principal {
    flex-wrap      : wrap;
    justify-content: center;
  }

  .errorpage__principal-title {
    width: 100%;
  }

  .errorpage__principal-title h2 {
    font-size: 4rem;
  }

  .errorpage__principal-img {
    width: 60%;
  }

  .errorpage__help-links {
    width          : 100%;
    justify-content: center;
  }

  .news {
    width: 90%;
  }

  .articles__box {
    width: 50%;
  }

  .related {
    width: 49%;
  }
}

/* 780px */
@media(max-width:48.750em) {
  .jobs {
    flex: 1 0 100% !important;
  }
}

/* 641px */
@media (max-width: 40.063em) {
  :root {
    --font-size-body  : 1.6rem;
    --font-size-social: 2rem;
  }

  .navbar {
    display: none;
  }

  .navbar__container {
    width: 100%;
  }

  .navbar__container-link {
    padding       : 0.5rem 1rem;
    letter-spacing: 0.08rem;
  }

  .news {
    padding: 2rem .5rem;
  }

  .articles__box {
    width        : 100%;
    height       : 70vh;
    margin-bottom: 0;
  }


  .articles__box .related__title {
    font-size: 2rem;
  }

  .post__info-budget {
    white-space: nowrap;
  }

  .post__info-created {
    max-width: inherit;
  }

  .filtered__item {
    flex: 1 0 50%;
  }

  .related {
    width: 100%;
  }

  .collapse {
    display: block;
  }

  .footer {
    padding: 1rem 0;
  }
}

/* 481px */
@media (max-width: 30.063em) {
  .header {
    padding: 1rem 1rem;
  }

  .navbar__container-link {
    border             : none;
    border-image-slice : inherit;
    border-image-source: inherit;
    padding            : 0;
    letter-spacing     : inherit;
  }

  .news {
    width  : 95%;
    padding: 2rem 0;
  }

  .column {
    padding: 0 .5rem;
  }

  .post__title {
    font-size : 2.8rem;
    text-align: left;
  }

  .post__subtitle,
  .post__body {
    font-size: 1.6rem;
    padding  : 2rem 0;
  }

  .filtered__item {
    flex: 1 0 100%;
  }

  .footer__navbar {
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
  }

  .footer__navbar-link {
    flex   : 1 1 auto;
    padding: 1rem 0;
  }

  .errorpage__title {
    font-size: 6rem;
  }
}

/* 320px */
@media (max-width: 20em) {
  .navbar {
    padding: 1rem 1rem;
  }

  .column {
    padding: 0 .2rem;
  }

  .post__info-created {
    white-space: inherit;
  }

  .post__info-budget {
    white-space: inherit;
  }
}