/* ========== TIMER ========== */
#timer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--font-color-s);
}

.timer__info {
  text-align: center;
}

.timer__info h1 {
  font-size: 8rem;
  line-height: 7rem;
  text-transform: uppercase;
}

.timer__info h2 {
  font-size: 4rem;
  font-weight: 400;
}

.timer__info p {
  padding: 2rem;
}

.timer__countdown {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.timer__countdown div {
  padding: 2rem;
  text-align: center;
}

.big-number {
  font-size: 7rem;
  line-height: 7rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
}

/* ========== INDEX ========== */
.index {
  margin: 0 auto;
  flex-wrap: wrap;
}

.columns {
  flex: 1;
}

.sponsors {
  max-width: 30%;
}

.news {
  min-width: 70%;
  margin: 0 1rem;
}

.big-new {
  position: relative;
  width: 100%;
  height: auto;
}

.news__article {
  margin: 2rem 0 0;
}

.news__article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news__article-info,
.news__article-budgets {
  position: absolute;
  padding: 0 1rem 0 1.5rem;
}

.news__article-info {
  bottom: 15%;
  cursor: pointer;
}

.news__article-info:hover a {
  color: var(--font-color-p);
  text-decoration: underline;
  text-decoration-thickness: .1rem;
}

.news__article-title,
.news__article-resume {
  color: var(--font-color-s);
}

.news__article-budgets {
  bottom: 5%;
}

.news__article-budgets a {
  padding: 0.5rem 2.5rem;
  background: var(--background-hex);
  color: var(--font-color-s);
  border-radius: 20rem;
  font-size: 1.4rem;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), 60%, transparent);
  /* -webkit-box-shadow: inset 0px -21rem 25px -7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px -21rem 25px -7px rgba(0, 0, 0, 0.7); */
  bottom: .7rem;
}

/* ========== SEARCHES ========== */

/* ========== JOBS ========== */
