/* ========== TIMER ========== */
#timer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--font-color-s);
}

.timer__info {
  text-align: center;
}

.timer__info h1 {
  font-size: 8rem;
  line-height: 7rem;
  text-transform: uppercase;
}

.timer__info h2 {
  font-size: 4rem;
  font-weight: 400;
}

.timer__info p {
  padding: 2rem;
}

.timer__countdown {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.timer__countdown div {
  padding: 2rem;
  text-align: center;
}

.big-number {
  font-size: 7rem;
  line-height: 7rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
}

/* ========== INDEX ========== */

.news {
  margin: 0 auto;
  padding: 2rem;
}

.sponsor__large {
  min-width: 100%;
  height: 150px;
}

.sponsor__large-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: inherit;
}

.columns {
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* align-items: stretch;
  align-content: stretch; */
}

.column {
  flex: 1 0 auto;
  padding: 0 1rem;
}

.articles {
  flex-basis: 80%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.sponsors {
  flex-basis: 20%;
  flex-direction: column;
  justify-content: space-between;
}

.articles__box,
.sponsors__box {
  width: 100%;
  margin: 0 0 1rem;
}

.articles__box {
  width: 33%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5rem 0.3rem 0.5rem 0;
}

.articles__box:first-child {
  width: 100%;
  flex-grow: 3;
  flex-shrink: 0;
  padding-top: 0;
}

.articles__box .related {
  width: auto;
  max-width: 100%;
  height: 100%;
  padding: 0;
}

.articles__box .related__title {
  font-size: 2.6rem;
}

.articles__box .related__resume {
  width: 100%;
}

.articles__box .related__resume-info {
  width: 95%;
  height: var(--line-height-body);
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.related__budgets {
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.related__budgets-budget {
  background: var(--background-hex);
  padding: 1rem 2rem;
  border-radius: 2rem;

  font-size: 1.6rem;
  color: var(--font-color-s);
  text-transform: uppercase;
  box-shadow: rgb(50, 50, 93, 0.25) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.3) -3px -3px 6px 1px inset;
}

.sponsors__box {
  position: relative;
  width: 100%;
  height: auto;
}

.sponsors__box::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.sponsors__box-img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ========== SEARCHES ========== */

/* ========== JOBS ========== */

.jobs{
  width: 50% !important;
}

.jobs:first-child {
  flex-grow: 1;
  padding-top: .5rem;
}

.job {
  width: 100%;
  height: 400px;
  border: 1px solid black;
}
/* ========== SINGLE_POST ========== */

.post {
  padding: 2rem 0;
  margin: 0 auto;
}

.post__info {
  min-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post__info-budget,
.post__info-created {
  flex: 1 0;
  height: 100%;
  background: var(--background-navbar);
  margin: 0.5rem;
  padding: 1rem 2rem;
}

.post__info-created {
  max-width: fit-content;
  white-space: nowrap;
}

.post__background {
  position: relative;
  background: var(--background-navbar);
  min-width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  /* border-radius: 2rem; */
}

.post__title {
  /* color: var(--font-color-s); */
  padding: 2rem 0;
  text-align: center;
}

.post__title-snd {
  font-size: 2rem;
  color: #030303;
  padding-top: 3rem;
}

.post__imgs {
  max-width: 100%;
  height: 400px;
  position: relative;
  display: block;
  /* border: .2rem solid black; */
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2.5rem 5rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid var(--background-navbar);
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 1.2rem;
}

.arrow-prev {
  left: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url();
  background-size: cover;
}
.item-2 {
  background: url();
  background-size: cover;
}
.item-3 {
  background: url();
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;
}
#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.post__body {
  padding: 2rem;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: justify;
  text-justify: inter-word;
  color: #555;
  clear: both;
}

.fb-share-button {
  position: absolute !important;
  right: 1rem;
  bottom: 1rem;
}

.post__related-title {
  color: var(--font-color-s);
}

.post__related-news {
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.related {
  position: relative;
  width: 33%;
  height: 330px;
  padding: 1% 0;
}

.related__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: inherit;
}

.related-shadow {
  width: fit-content;
  background: linear-gradient(
    to top,
    #030303,
    30%,
    rgba(3, 3, 3, 0.6) 80%,
    transparent
  );
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.5rem 0;
}

.related__title,
.related__resume {
  color: var(--font-color-s);
  padding: 0 1rem;
}

.related__title:hover {
  text-decoration: underline;
}

.related__resume-created {
  font-size: var(--font-size-footer);
}

/* ========== FILTERED_POSTS ========== */

.filtered {
  width: 90%;
  margin: 0 auto;

  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.filtered__title {
  padding: 2rem;
  color: var(--font-color-s);
  text-align: center;
}

.filtered__title-topic {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.filtered__item {
  padding: 0.5rem;
  flex: 1 0 33%;
}

.filtered__item .related {
  width: auto;
}
